.row-section {
	padding-top: 30px;
	padding-bottom: 30px;
	h2 {
		margin-bottom: 20px;
	}
}

.team {
	.member {
		text-align: center;
		.member-avatar {
			height: 90px;
			width: 90px;
			border-radius: 50%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			margin: 0 auto 10px;
		}
		.member-poste {
			color: $color__red;
			font-size: 0.9rem;
		}
	}
}

.services {
	background-color: $color__background-services;
	color: #fff;
	position: relative;
	.service {
		padding-top: 20px;
	}
	h2 {
		color: #fff;
	}
	.circle {
		$size-circle: 60px;
		float: left;
		height: $size-circle;
		width: $size-circle;
		background-color: #fff;
		border-radius: 50%;
		text-align: center;
		margin-right: 10px;
		.fa {
			color: $color__dark-red;
			font-size: $size-circle / 2;
			line-height: $size-circle;
		}
	}
	.service-name {
		margin-top: 20px;
		clear: none;
		color: #fff;
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		&:first-letter {
			color: inherit;
		}
	}

	ul {
		//padding: 0;
		//margin: 0;
		li {
			list-style: circle;
		}
	}
}

.clients {
	background-color: $color__background-clients;
	h2 {
		color: #fff;
	}
	.client-logo {
		height: 70px;
		margin: 0 auto;
	}
}


.contact {
	h2 {
		color: #fff;
	}
	.actu {
		background-color: #fff;
		padding: 0;
		h2 {
			color: initial;
			text-align: center;
		}
		.map {
			width: 100%;
		}
		.links {
			padding: 80px 30px;
			h2 {
				margin-bottom: 30px;
			}
		}
	}
	.form {
		background-color: $color__background-contact;
		padding-left: 90px;
		p {
			margin-bottom: 0;
		}
		input[type="text"],
		input[type="email"],
		textarea{
			border:inherit;
			border-bottom: solid 2px $color__background-hr;
			border-radius: 0;
			background-color: inherit;
			color: #fff;
			opacity: .5;
			margin: 0;
			&:focus {
				opacity: 1;
				outline: none;
			}
		}
		input[type="submit"] {
			border: none;
			border-radius: 0;
			float: right;
			margin-right: 50px;
			text-transform: uppercase;
			background-color: #fff;
		}
	}
}
