$color__dark-red: #981914;
$color__red:#DC0612;
$color__black:#2F2F2F;
$color__grey:#95989A;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__black;
$color__link-visited: $color__black;
$color__link-hover: midnightblue;
$color__text-main: $color__grey;
$color__heading: $color__black;

$color__border-button: $color__red;
$color__border-button-hover: $color__black;
$color__border-button-focus: $color__black;
$color__border-input: #ccc;
$color__border-abbr: #666;
